body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,21,2,1) 15%, rgba(2,50,50,1) 38%, rgba(96,7,93,1) 73%, rgba(2,125,150,1) 100%);
    font-family: sans-serif;
    animation: gradient 15s;
}

@keyframes gradient {
    
}

.sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 2;
    left: 0;
    float: left;
    background-color: rgb(7, 7, 7);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: lightgray;
    display: block;

}

.sidenav a:hover {
    color: white;
    transition: 0.5s;
}

.topbar {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(7, 7, 7);
}

.main {
    position: fixed;
    background-color: white;
    margin-left: 180px;
    translate: 40% 10vh;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    padding: 70px 0;
    box-shadow: 5px 5px 5px black;
    z-index: 3;
    width: 50vmax;
    height: 40vmin;
}

.main:hover {
    box-shadow: 10px 10px 10px black;
    transition: 0.3s;
    transform: scale(1.009);
}