body {
    font-family: sans-serif;
    animation: background-animation 3s infinite;
    animation-timing-function: linear;
    background: linear-gradient(45deg, rgba(174, 0, 255) 0%, rgba(255, 0, 0, 1) 15%, rgba(255, 255, 0, 1) 25%, rgba(0, 255, 0, 1) 40%, rgba(0, 255, 255, 1) 60%, rgba(0, 0, 255, 1) 80%, rgb(174, 0, 255));
    background-size: 200% 100%;

}

@keyframes background-animation {
    0% {background-position: 0% 0%}
    100% {background-position: 200% 0%}
}

.sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 2;
    left: 0;
    float: left;
    background-color: rgb(7, 7, 7);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: lightgray;
    display: block;

}

.sidenav a:hover {
    color: white;
    transition: 0.5s;
}

.topbar {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(7, 7, 7);
}

.main {
    position: fixed;
    background-color: white;
    margin-left: 180px;
    translate: 40% 10vh;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    padding: 70px 0;
    box-shadow: 5px 5px 5px black;
    z-index: 3;
    width: 50vmax;
    height: 40vmin;
    transition: 0.3s;
}

.main:hover {
    box-shadow: 10px 10px 10px lightslategray;
    transform: scale(1.1);
}

@media screen and (max-width: 390px ) {
    .sidenav {
        height: 20px;
        width: 100%;
        position: fixed;
        z-index: 2;
        left: 0;
        background-color: rgb(7, 7, 7);
        overflow-x: hidden;
        padding: auto;
    }

    .main {
        font-size: 12px;
        margin-left: 0;
    }
}

@media screen and (max-width: 1280) {
    .sidenav {
        height: 100%;
        width: 120;
        position: fixed;
        z-index: 2;
        left: 0;
        float: left;
        background-color: rgb(7, 7, 7);
        overflow-x: hidden;
        padding-top: 20px;
    }

    .main {font-size: 14px;}
    
}

/* hihihklnkjnkjb*/